<html>
    <head>
        <title>Nodeblog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
    </head>

    <body>
        <div class="container">
            <img class="logo" src="/images/nodeblog.png">
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/posts/add">Add Post</a></li>
                    <li><a href="/categories/add">Add Category</a></li>
                </ul>
            </div>
            
